<div class="screen-container">
  <div class="container">

    <h1 class="title">Modify your choices</h1>

    <%= simple_form_for @training, html: { class: "form" } do |f| %>

      <!-- Question 1 : Vitesse -->
      <div class="screen active">
        <h2 class="question">What is your average pace?</h2>
        <div class="options">
          <% ['Slow', 'Medium', 'Fast'].each do |speed| %>
            <div class="option-item">
              <%= f.radio_button :average_speed, speed, id: "speed-#{speed}", class: 'hidden choice-radio' %>
              <label for="speed-<%= speed %>" class="choice-label"><%= speed %></label>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Question 2 : Durée -->
      <div class="screen active">
        <h2 class="question">How long do you want to run?</h2>
        <div class="options">
          <% Training::TRAINING_DURATION.each do |duration| %>
            <div class="option-item">
              <%= f.radio_button :training_duration, duration, id: "duration-#{duration}", class: 'hidden choice-radio' %>
              <label for="duration-<%= duration %>" class="choice-label"><%= duration %></label>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Question 3 : Genre musical -->
      <div class="screen active">
        <h2 class="question">Select the type of music you'd like to listen during your session</h2>
        <div class="options">
          <% ['pop', 'reggae', 'rock', 'rap'].each do |genre| %>
            <div class="option-item">
              <%= f.radio_button :music_genre, genre, id: "music-#{genre}", class: 'hidden choice-radio' %>
              <label for="music-<%= genre %>" class="choice-label"><%= genre %></label>
            </div>
          <% end %>
        </div>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
