<div class="container">
  <h1>Transform your running sessions to an immersive experience</h1>
  <%= simple_form_for @training do |f| %>
    <div class="vh-90">
      <%= f.label :average_speed, "What is your average pace?" %>
      <%= f.input :average_speed,
                  legend_tag: false,
                  as: :radio_buttons,
                  collection: ['Slow', 'Medium','Fast'],
                  label: false,
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: { class: 'category-selector' } %>
    </div>

    <div class="vh-90">
      <%= f.label :training_duration,"How long do you want to run?" %>
      <%= f.input :training_duration,
                  legend_tag: false,
                  as: :radio_buttons,
                  collection: ['10 mins', '30 mins', '45 mins', '1h', '1h30', '2h'],
                  label: false,
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: { class: 'category-selector' } %>
    </div>

    <div class="vh-90">
      <%= f.label :music_genre, "Select the type of music you'd like for your session" %>
      <%= f.input :music_genre,
                  legend_tag: false,
                  as: :radio_buttons,
                  collection: ['pop', 'reggae', 'rock', 'rap'],
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: { class: 'category-selector' } %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
