<div class="container">
  <h1>Review Your Selection</h1>
  <ul>
    <li><strong>Average Pace:</strong> <%= @training.average_speed %></li>
    <li><strong>Training Duration:</strong> <%= @training.training_duration %> minutes</li>
    <li><strong>Music Genre:</strong> <%= @training.music_genre %></li>
  </ul>

  <div class="actions d-flex justify-content-center gap-3 mt-4">
    <%= button_to "Confirm", confirm_training_path(@training), method: :post, class: "btn btn-primary btn-lg" %>
    <%= link_to "Edit", edit_training_path(@training), class: "btn btn-secondary btn-lg" %>
  </div>
