<!DOCTYPE html>
<html>
  <head>
    <title>Runify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" %>

  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
<div class="bottom-nav">
  <a href="/trainings" class="nav-item">
<i class="fa-solid fa-square-poll-vertical"></i>
  </a>
  <a href="/trainings/history" class="nav-item">
<i class="fa-solid fa-calendar"></i>
  </a>
  <a href="/trainings/new" class="nav-item active">
    <i class="fas fa-plus-circle"></i>
  </a>
  <a href="/trainings/favorites" class="nav-item">
<i class="fa-solid fa-heart"></i>
  </a>
  <a href="#" class="nav-item">
<i class="fa-solid fa-right-to-bracket"></i>  </a>
</div>

  </body>
</html>
